* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.big-container {
  width: 100vw;
  height: 100vh;
  border: 2px solid red;
}

.sidebar {
  height: 100%;
  width: 17.7%;
  border: 1px solid green;
}

.searchbar {
  height: 7.05%;
  width: 82.2vw;
  margin-left: 17.7vw;
  border: 1px solid purple;
}

/* PERCENTAGE IS PROPORTIONAL TO THE SIZE OF THE PARENT. VW & VH ARE PROPORTIONAL TO THE VIEWPORT */
